<div class="pag-home">
  <div class="container">
    <nav-menu></nav-menu>

    <div class="lista-productos container animated fadeInDownBig fast">
      <div class="row align-items-center catalogo-top">
        <div class="col-7">
          <h2 class="pull-left white-text">Catálogo de Productos</h2>
        </div>
        <div class="col-5">
          <form>
            <div class="form-group ">
              <label for="descripcion" class="white-text">¿Qué estas buscando?</label>
              <input type="text" id="descripcion" placeholder="Buscar producto" class="form-control input-filtro">
            </div>
          </form>
        </div>
      </div>
    <div>
  </div>
</div>
